{% extends 'base.html' %}
{% block head %}

<div class="container my-4">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
         
      </div>
      <div class="mb-3">
        <label for="pass" class="form-label">Password</label>
        <input type="password" class="form-control" id="pass">
      </div>
      <button id="submit" class="btn btn-primary">Sign In</button><br>
      <a href="/signup">Sign Up Instead</a>
    </div>
</div>

<script src="{{ url_for('static', filename='signin.js') }}"></script>
{% block foot %}
{% endblock %}
{% endblock %}